<!-- password_reset_confirm.html -->
{% extends 'base.html' %}
{% load static %}
{% block head %}
        <meta charset="UTF-8">
        <title>Réinitialisation de mot de passe - LITReview.com</title>
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/big-logo.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/passconfirm.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/button1.css' %}" />
{% endblock %}
{% block content %}
        <div class="big-logo"></div>
                <form method="post">{% csrf_token %}

                        <div class="rectanglepassword">
                        <h1>Réinitialisation de mot de passe</h1>
                                <input class="input-username" autocomplete="username" value="{{ form.user.get_username }}" readonly>
                                {{ form.as_p }}
                                <input class="input_button" type="submit" value="Réinitialiser le mot de passe">
                        </div>
                </form>

{% endblock %}