<!-- password_reset_complete.html -->
{% extends 'base.html' %}
{% load static %}
{% block head %}
        <meta charset="UTF-8">
        <title>Réinitialisation de mot de passe - LITReview.com</title>
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/big-logo.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/passcomplete.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/button1.css' %}" />
{% endblock %}
{% block content %}
        <div class="big-logo"></div>
                <form method="post">{% csrf_token %}
                        <div class="rectangle-success">
                                <h1>Mot de passe réinitialisé</h1>
                                <p class="message">Votre mot de passe a été réinitialisé avec succès, cliquez sur le bouton ci-dessous pour vous connecter.</p>
                                <a href="{% url 'login' %}" class="href_button no-underline">Se connecter</a>
                        </div>
                </form>

{% endblock %}
