<!-- password_reset_done.html -->
{% extends 'base.html' %}
{% load static %}
{% block head %}
        <meta charset="UTF-8">
        <title>Réinitialisation de mot de passe - LITReview.com</title>
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/big-logo.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/passdone.css' %}"/>

{% endblock %}
{% block content %}
        <div class="big-logo"></div>
                <form method="post">
                        <div class="rectangle">
                        <h1>Réinitialisation de mot de passe</h1>
                        <p>Nous vous avons envoyé un e-mail contenant un lien qui vous permettra de réinitialiser votre mot de passe.</p>
                        </div>

                </form>

{% endblock %}