<!-- request_review.html -->
{% extends 'base2.html' %}
{% load static %}
{% block head %}
        <meta charset="UTF-8">
        <title>Créer un ticket - LITReview.com</title>
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/create_ticket.css' %}"/>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <h2>Créer un ticket</h2>
            <p>
                <label for="id_title">Titre :</label>
                <input type="text" name="title" maxlength="128" required id="id_title">
            </p>
            <p>
                <label for="id_description">Description :</label>
                <textarea name="description" maxlength="5000" required id="id_description" rows="4" cols="50"></textarea>
            </p>
            <p>

                <label for="id_image">Image :</label>
                <input type="file" name="image" accept="image/*" required id="id_image">
            </p>
                <img id="image-preview" src="#" alt="Aperçu de l'image" style="display: none;">
                <button type="submit">Envoyer</button>
        </fieldset>
    </form>
    {% endif %}
{% endblock %}
