<!-- flow.html -->
{% extends 'base2.html' %}
{% load static %}
{% block head %}
        <meta charset="UTF-8">
        <title>Flux - LITReview.com</title>
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/flow.css' %}"/>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <form method="post">{% csrf_token %}
        <nav class="critical_button">
            <a class="request_button" href="{% url 'create_ticket' %}">Demander une critique</a>
            <a class="create_button" href="{% url 'review_not_in_response' %}">Créer une critique</a>
        </nav>
        <fieldset>
            {% for entry in entries %}
            {% if entry.entry_type == "Ticket_Not_Response"%}
            {% include 'C:\Projet9_V2\litreview\blog\templates\blog\get_ticket_response0_flow.html'%}
            {% endif %}

            {% if entry.entry_type == "Ticket_Response"%}
            {% include 'C:\Projet9_V2\litreview\blog\templates\blog\get_ticket_response1_flow.html'%}
            {% endif %}

            {% if entry.entry_type == "Review"%}
            {% include 'C:\Projet9_V2\litreview\blog\templates\blog\get_review_ticket_flow.html'%}
            {% endif %}
            {% endfor %}
        </fieldset>
    </form>
    {% endif %}
{% endblock %}