<!-- flow.html -->
{% extends 'base2.html' %}
{% load static %}
{% block head %}
        <meta charset="UTF-8">
        <title>Flux - LITReview.com</title>
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/flow.css' %}"/>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <form method="post">{% csrf_token %}
        <nav class="critical_button">
            <a class="request_button" href="{% url 'create_ticket' %}">Demander une critique</a>
            <a class="create_button" href="{% url 'review_not_in_response' %}">Créer une critique</a>
        </nav>
        <fieldset>
            {% for follow in my_following %}
            {% for entry in entries %}
            {% if entry.entry_type == "Ticket"  %}
            {% if entry.response == '0' %}
            {% if follow == entry.user.username %}
            <div class="rectangle4">
                <p class="user_date">{{ entry.user.username }} a demandé une critique le {{ entry.date_created }}</p>
                <h2>{{ entry.title }}</h2>
                <p>{{ entry.description }}</p>
                <img alt="{{ entry.title }}" src="{{ entry.photo.image.url }}">
                <a class="create_button2" href="{% url 'review_in_response' entry.id %}">Créer une critique</a>
            </div>
            {% endif %}
            {% endif %}

            {% if entry.response == '1' %}
            <div class="rectangle4">
                <p class="user_date">{{ entry.user.username }} a demandé une critique le {{ entry.date_created }}</p>
                <h2>{{ entry.title }}</h2>
                <p>{{ entry.description }}</p>
                <img alt="{{ entry.title }}" src="{{ entry.photo.image.url }}">
            </div>
            {% endif %}
            {% if entry.entry_type == "Review" %}
            <div class="rectangle1">
                <p class="user_date">{{ entry.user.username }} à publié une critique le {{ entry.date_created }}</p>
                <h2>{{ entry.headline }}</h2>
                <p>{{ entry.body }}</p>

                <div class="rectangle2">
                    <p class="user_date">Ticket - {{ entry.ticket.user.username }}</p>
                    <h2>{{ entry.ticket.title }}</h2>
                    <p>{{ entry.ticket.description }}</p>
                    <img alt="{{ entry.ticket.title }}" src="{{ entry.ticket.photo.image.url }}">
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
        </fieldset>
    </form>
    {% endif %}
{% endblock %}