<div class="rectangle1">
	<p class="user_date">{{ entry.user.username }} à publié une critique le {{ entry.date_created }}</p>
	<h2>{{ entry.headline }}</h2>

	{% if entry.rating == 5 %}
	<div class="star star-5"></div>
	<p class="body">{{ entry.body }}</p>

	{% elif entry.rating == 4 %}
	<div class="star star-4"></div>
	<p class="body">{{ entry.body }}</p>

	{% elif entry.rating == 3 %}
	<div class="star star-3"></div>
	<p class="body">{{ entry.body }}</p>

	{% elif entry.rating == 2 %}
	<div class="star star-2"></div>
	<p class="body">{{ entry.body }}</p>

	{% elif entry.rating == 1 %}
	<div class="star star-1"></div>
	<p class="body">{{ entry.body }}</p>

	{% elif entry.rating == 0 %}
	<div class="star star-0"></div>
	<p class="body">{{ entry.body }}</p>
	{% endif %}

	<div class="rectangle2">
		<p class="user_date">Ticket - {{ entry.ticket.user.username }}</p>
		<h2>{{ entry.ticket.title }}</h2>
		<p class="description">{{ entry.ticket.description }}</p>
		<img alt="{{ entry.ticket.title }}" src="{{ entry.ticket.photo.image.url }}">
	</div>
</div>