<!-- posts.html -->
{% extends 'base2.html' %}
{% load static %}
{% block head %}
        <meta charset="UTF-8">
        <title>Posts - LITReview.com</title>
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/posts.css' %}"/>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <form method="post" >{% csrf_token %}

        <fieldset>
            <h1>Vos Posts</h1>
            {% for entry in entries %}
            {% if entry.entry_type == "Ticket_Not_Response"%}
            {% include 'C:\Projet9_V2\litreview\blog\templates\blog\get_ticket_response0_posts.html'%}
            {% endif %}

            {% if entry.entry_type == "Ticket_Response"%}
            {% include 'C:\Projet9_V2\litreview\blog\templates\blog\get_ticket_response1_posts.html'%}
            {% endif %}

            {% if entry.entry_type == "Review"%}
            {% include 'C:\Projet9_V2\litreview\blog\templates\blog\get_review_ticket_posts.html'%}
            {% endif %}
            {% endfor %}
        </fieldset>
    </form>
    {% endif %}
{% endblock %}
