<!-- posts.html -->
{% extends 'base2.html' %}
{% load static %}
{% block head %}
        <meta charset="UTF-8">
        <title>Posts - LITReview.com</title>
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/posts.css' %}"/>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <form method="post" >{% csrf_token %}

        <fieldset>
            <h1>Vos Posts</h1>
            {% for entry in entries %}
            {% if entry.entry_type == "Ticket_User_Response"%}
            {% include 'C:\Projet9_V2\litreview\blog\templates\blog\get_ticket_user_response_posts.html'%}
            {% endif %}

            {% if entry.entry_type == "Ticket_User_Not_Response"%}
            {% include 'get_ticket_user_not_response_posts.html'%}
            {% endif %}

            {% if entry.entry_type == "Review_User_Ticket_Follow"%}
            {% include 'get_review_user_ticket_follow_posts.html'%}
            {% endif %}

            {% if entry.entry_type == "Review_Follow_Ticket_User"%}
            {% include 'get_review_follow_ticket_user_posts.html'%}
            {% endif %}

            {% if entry.entry_type == "Review_User_Ticket_User"%}
            {% include 'get_review_user_ticket_user_posts.html'%}
            {% endif %}
            {% endfor %}
        </fieldset>
    </form>
    {% endif %}
{% endblock %}
