<!-- ticket_delete.html -->
{% extends 'base2.html' %}
{% load static %}
{% block head %}
        <meta charset="UTF-8">
        <title>Supression d'un ticket - LITReview.com</title>
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/ticket_delete.css' %}"/>
{% endblock %}
{% block content %}
        {% if user.is_authenticated %}
        <form method="post">{% csrf_token %}
                <h1>Suppression de votre ticket</h1>
                <div class="rectangle1">
                        <h2>{{ ticket.title }}</h2>
                        <p class="description">{{ ticket.description }}</p>
                        <img alt="{{ ticket.title }}" src="{{ ticket.photo.image.url }}">
                        <div class="rectangle2">
                                <h3>Attention ! Vous êtes sur le point de supprimer votre ticket et cette action est irréversible.</h3>
                                <h4>Êtes-vous sûr de vouloir continuer ?</h4>
                                <button type="submit">Oui</button>
                                <a class="button_cancel" href="{% url 'posts' %}">Non</a>
                        </div>


                </div>
        </form>
        {% endif %}
{% endblock %}
