h1{
    text-align: center;
}

.rectangle1{
    width: 1000px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #1C1E20;

}

#id_title,
#id_description{
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 18px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

#id_title{
    width: 500px;
    height: 20px;
}

#id_description{
    width: 95%;
    height: 150px;
}

img{
    width: 150px;
    height: 240px;
    display: block;
    background-color: #1C1E20;


}

label{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;


}

label,
img,
#id_description,
#id_title{
    margin-left: 10px;

}

#id_description{
    margin-right: 10px;

}

input{
    margin-left: 10px;
}

.button_cancel{
    display: inline-flex;
    width: 146px;
    height: 36px;
    font-size: 20px;
    border: 2px solid #E8E6E3;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background: #1C1E20;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;

}
button{
    display: inline-flex;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: 2px solid #E8E6E3;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background: #1C1E20;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
}

button{
    margin-right: 10px;
    margin-left: 670px;

}

.button_cancel:hover,
button:hover{
    color: #61C64D;
    border: 2px solid #61C64D;
}

.href_button_posts{
    border: 2px solid #F00020 !important;

}

.href_button_posts:hover{
    color: #61C64D !important;
    border: 2px solid #61C64D !important;
}
