fieldset{
    display: block;
    margin-top: 20px;
    border: 2px solid #1C1E20;
}

.rectangle4,
.rectangle5{
    width: 1000px;

    display: block;
    margin: auto;
    margin-top: 30px;
    border: 2px solid #1C1E20;

}


.rectangle3{
    width: 1000px;
    height: 620px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 2px solid #1C1E20;

}

.rectangle1{
    width: 1000px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #1C1E20;

}

.rectangle2{
    width: 700px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #1C1E20;

}
.critical_button{
    display: flex;
    justify-content: center;
    align-items: center;

}

.request_button,
.create_button{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 20px;
    color: #FFFFFF;
    border: 2px solid #E8E6E3;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background: #1C1E20;
    text-decoration: none;
}

.create_button2{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 40px;
    margin-left: 750px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #FFFFFF;
    border: 2px solid #E8E6E3;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background: #1C1E20;
    text-decoration: none;

}

.create_button2:hover,
.request_button:hover,
.create_button:hover{
    color: #61C64D;
    border: 2px solid #61C64D;
}

h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

img{
    margin-left: 10px;
    margin-bottom: 30px;
}


.description,
.user_date,
.body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.star {
    width: 200px;
    height: 30px;
    display: block;
    margin: auto;
    margin-right: 800px;
    background-size: cover;
    background-image: url(backgrounds/New_Rating4.png);
}

.star-5{
    background-position: 0px 226px;

}

.star-4{
    background-position: 0px 187px;

}

.star-3{
    background-position: 0px 149px;

}

.star-2{
    background-position: 0px 110px;

}

.star-1{
    background-position: 0px 72px;

}

.star-0{
    background-position: 0px 39px;

}

.href_button_flow{
    border: 2px solid #F00020 !important;

}

.href_button_flow:hover{
color: #61C64D !important;
    border: 2px solid #61C64D !important;
}
