.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

}

.pseudo{
    text-align:center;
    font-size: 30px;
    border: 2px solid #1C1E20;


}

p{
    margin-top: 5px;
    margin-bottom: 5px;

}

.href_button_flow,
.href_button_posts,
.href_button_subscriptions,
.href_button_logout{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 40px;
    margin: auto;
    font-size: 20px;
    color: #FFFFFF;
    border: 2px solid #E8E6E3;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background: #1C1E20;
    text-decoration: none;
}

.href_button_flow:hover,
.href_button_posts:hover,
.href_button_subscriptions:hover,
.href_button_logout:hover{
    color: #61C64D;
    border: 2px solid #61C64D;

}

.picture1,
.picture2{
    width: 380px;
    height: 111px;
    display: block;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(backgrounds/Image_Livres2.png);
}

.small_logo{
    width: 100px;
    height: 120px;
    margin: auto;
    display: block;
    background-size: cover;
	background-repeat: no-repeat;
    background-image: url(backgrounds/Logo.png);

}