.rectangle{
    width: 630px;
    height: 530px;
    display: block;
    margin: auto;
    background-color: #1C1E20;

}

h1{
    padding-top: 20px;
    font-size: 40px;
    text-align:center;
    color: #FFFFFF;
}

p{
padding-top: 20px;
    font-size: 30px;
    text-align:center;
    margin-left: 25px;
    margin-right: 25px;
    color: #FFFFFF;

}
