{% extends 'base.html' %}
{% load static %}
{% block head %}
        <meta charset="UTF-8">
        <title>Inscription - LITReview.com</title>
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/big-logo.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/signup.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/button1.css' %}" />
{% endblock %}
{% block content %}
        <div class="big-logo"></div>
            <form method="post">{% csrf_token %}
                <div class="rectangle-registration">
                    <h1>S'inscrire à LITReview</h1>

                    {{ form.as_p }}
                    <input class="input_button" type="submit" value="S'inscrire">
                    <a href="{% url 'login' %}" class="href_button no-underline">Annuler</a>
                </div>
            </form>
{% endblock %}